.container {
  margin: 0;
  width: 100%;
  max-width: 1920px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  background-image: url("../../../../assets/images/footer_loanding_page.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  width: 25px;
  height: 2px;
  background-color: var(--cherry);
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #37435a;
  margin: 0 auto;

  h2, h3 {
    margin: 7px;
  }
  > h3 {
    color: #b1b0b0;
  }
}

.form {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 6em auto;


  >:nth-child(1), >:nth-child(2), >:nth-child(3) {
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0.5em;
  }

  button:hover {
    background-color: #eaeaea;
  }

  background: rgba(245, 245, 245, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 1em;
}

.logo {
  display: flex;
  flex-direction: row;
  margin: 0;
  color: white;
  span {
    color: var(--cherry);
  }
}

.copyRight {
  display: flex;
  flex-direction: row;
  margin: 0;
  color: white;
  :first-child {
    margin-right: 7px;
  }
}

.social_media {
  img {
    width: 30px;
    margin: 5px;
    background: rgba(232, 232, 232, 1);
    border-radius: 6px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
}