.collapse {
  z-index: 1201;
  width: fit-content;
  top: 56px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 1em 1em 0;
}

.paper {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: row;

  > div {
    //background: rgba(0, 0, 0, 0.50);
    //box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    //backdrop-filter: blur(1.5px);
    //-webkit-backdrop-filter: blur(1.5px);
    //border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  border-radius: 10px
}


.categoriesContainer {
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.collapseContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  text-shadow: 0 1px 0 #666666;
  border-radius: 5px;
  background-image: linear-gradient(180deg, #0d8dc7, #0d8dc7 24%, #3fb8b9);
  padding-left: 2em;
}

.categoryContainer {
  width: fit-content;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  i, img {
    transition: all .4s;
    border: 3px solid transparent;
    border-radius: 50%;
  }

  > h4 {
    color: white;
    margin: 8px 0;
  }

  .categoryName {
    margin:  0 0.5em;
    padding: 2px 4px;

    border-radius: 6px;
    background: rgba( 12, 0, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    @media only screen and (min-width: 960px) {
      display: none;
    }
  }
}

//.category > i:hover, .category > img:hover {
//  border-color: rgba( 249, 46, 103, 0.9 );
//  align-self: auto;
//  padding: 15%;
//}
.isActive:hover {
  border-color: rgba( 249, 46, 103, 0.9 );
  align-self: auto;
  cursor: pointer;
}

.category {
  margin: 0.5em auto;
  min-width: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /*border: 2px solid rgba(var(--navBorder), 0.8);*/

  /*background-image: linear-gradient(180deg, #a2d2ff, #bde0fe 24%, #ffafcc);*/
  background: rgba( 12, 0, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );


  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .3);*/

}

.category > svg, .category > i {
  width: 50px !important;
  min-width: 50px !important;
  height: 50px !important;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category > img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
}


.subCategory {
  color: white;
}

@media only screen and (max-width: 549px) {
  .subCategory {
    width: 100%;
  }
}

@media only screen and (min-width: 550px) and (max-width: 799px) {
  .subCategory {
    width: 47%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1099px) {
  .subCategory {
    width: 32%;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1499px) {
  .subCategory {
    width: 24%;
  }
}

@media only screen and (min-width: 1500px) {
  .subCategory {
    width: 19%;
  }
}