.checkboxContainer {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.checkboxContainer>div {
  min-width: 80px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkboxContainer>div>h5 {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

.container>h4 {
  margin: 0;
}