.container {
  margin: 0;
  width: 100vw;
  min-height: 720px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  @media only screen and (min-width: 100vh) {
    // w > h
    width: 100vw;
  }
}

.headerImg {
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  min-width: 1280px;
  min-height: 720px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.heroImg {
  width: 350px;
  height: fit-content;
}



.description {
  background: rgba(201, 201, 201, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  padding: 2em;
  margin: 2em;

  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    color: #eaeaea;
    margin: 1em 0 0 0;
    text-align: center;
  }

  h2 {
    color: white;
    text-align: center;
    margin: 0;
  }
}


.center_section {
  width: 100%;
  max-width: 1920px;
  position: absolute;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}