.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  top: 0;
  position: fixed;
  background: var(--nav);
  z-index: 999;
}

.box {
  //border-bottom: 2px solid rgba(var(--navBorder), 0.8);
  width: 100%;
  min-height: 55px;
  display: flex;
  flex-direction: row;
}

.searchText {
  border-radius: 6px;
  background-color: white;
  width: 432px;
  height: 40px;
}

.searchAction {
  margin: auto !important;
  .categoriesButton {
    background: white;
    margin: 8px 1em;
    height: 40px;
    border: 2px solid #eaeaea;
  }
  .categoriesButton:hover {
    background: #eaeaea;
  }
}

.logo {
  height:35px;
  margin: 10px 0 auto 10px;
}