.link {
  text-decoration: none;
  @media only screen and (max-width: 549px) {
    display: none;
  }

  >div {
    display: flex;
    flex-direction: row;
    margin: 7px 1em 0 1em;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 0 3px;

    >h1 {
      margin: 0;
    }
    transition: all .4s;
    &:hover {
      border: 2px solid #eaeaea;
    }
  }

}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  top: 0;
  position: fixed;
  background: var(--nav);
  z-index: 999;

  background: rgba( 12, 0, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box {
  //border-bottom: 2px solid rgba(var(--navBorder), 0.8);
  width: 100%;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.searchText {
  border-radius: 6px;
  background-color: white;
  width: 332px;
  height: 40px;
  @media only screen and (max-width: 549px) {
    width: 200px;
  }
}

.searchAction {
  margin: auto !important;
  display: flex;
  flex-direction: row;

  .categoriesButton {
    background: white;
    margin: 8px 1em;
    height: 40px;
    border: 2px solid #eaeaea;
    @media only screen and (max-width: 549px) {
      width: 40px;
    }
  }

  .categoriesButton:hover {
    background: #eaeaea;
  }
}

.logo {
  height: 35px;
  margin: 10px 0 auto 10px;
}