.productContainer>h4, .dataSheetContainer>h4, .details>h4  {
  margin: 16px 0 8px 5px;
}
.randomProduct {
  text-decoration: none;
  width: fit-content;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
}

.productContainer {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 1em;
  div > img {
    border-radius: 6px;
    width: 400px;
    /*max-height: 600px;*/
  }
}

.imageContainer {
  border-radius: 6px;
  border: 1px solid #eaeaea;
  padding: 1em;
  display: flex;
  align-items: center;
}


.dataSheetContainer {
  width: 600px;
  margin-right: 1em;

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
    margin: 0;
    border-radius: 6px;
    border: 1px solid #eaeaea;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 0.2em;

      h4 {
        width: 30% !important;
      }

      p, h4 {
        margin: 0;
      }
    }
  }
}

.vendor {
  flex-direction: row;
  flex-flow: wrap;
  box-sizing: border-box;
  display: flex;
  place-content: center space-between;
  align-items: center;
  width: 600px;
  margin-bottom: 0.8em;
  border-radius: 6px;
  height: 50px;
  border: 1px solid #eaeaea;
  padding: 1em;
  transition: all .4s;
  position: relative;
  div, img, h4 {
    width: 25%;
    @media only screen and (max-width: 650px) {
      width: 45%;
    }
  }
  @media only screen and (max-width: 650px) {
    height: 100px;
  }
}

.vendor > img {
  max-width: 100px;
}
.vendor:hover {
  box-shadow: 0 10px 40px -10px rgba(0, 64, 128, .4);
  cursor: pointer;
  top: -1px
}

.details {
  //border: 1px solid blue;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1700px) {
  .productContainer {
    flex-direction: column-reverse;
    display: block;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
  }
  .productContainer {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 650px) {
  .vendor, .dataSheetContainer, .container {
    width: 100%;
  }
  .productContainer {
    margin: 0 auto;
    width: 95%;
    div > img {
      width: 100%;
    }
  }
}